env.sh
riscv-tools-install
*memory_stats.csv
sim/ucli.key
target-design/switch/switchconfig.h
sim[0-9]
build-setup-log
tags
build
scala-doc-env.sh
*.swp
/.conda-env
deploy/alveo/runs/*
deploy/alveo/results
deploy/alveo/configs/*
!deploy/alveo/configs/example-config.json
deploy/alveo/sample-debug.txt
deploy/alveo/trace-debug.txt
libtinfo.so.5
